.container.proto-new
  = form_for @prototype do |f|
    = f.hidden_field :user_id, value: current_user.id
    .col-md-8.col-md-offset-2
      %header.row.user-nav.row
        .col-md-12
          %h4 Title
          .proto-new-title
            = f.text_field :title, required: true, autofocus: true, placeholder: "Input Title"
      .row
        .col-md-12
          %h4 Main Thumbnail
          .cover-image-upload.main_image_uploader
            = f.fields_for :captured_images do |image|
              = image_tag(src= "", style: "width: 100%; height: 100%;", class: "main_image")
              = image.file_field :content, required: true
              = image.hidden_field :status, value: "main"
        .col-md-12
          %h4 Sub Thumbnails
          %ul.proto-sub-list.list-group.sub_image_uploder
            - 3.times do |i|
              - i == 2 ? set_style = "display: none;" : set_style = ""
              %li.list-group-item.col-md-4{style: set_style}
                .image-upload
                  = f.fields_for :captured_images do |image|
                    = image_tag(src= "", style: "width: 100%; height: 100%;", class: "sub_image")
                    = image.file_field :content
                    = image.hidden_field :status, value: "sub"
            %li.add_sub.list-group-item.col-md-4
              %div
                追加したいな

      .row.proto-description
        .col-md-12
          %h4 Catch Copy
          = f.text_field :catch_copy, require: true, placeholder: "Input Catch Copy"
        .col-md-12
          %h4 Concept
          = f.text_area :concept, require: true, placeholder: "Input Concept"
        .col-md-12
          %h4
            Tag List
          .row
          /*お気に入り見て
          = f.fields_for :tag_prototypes , @prototype.tag_prototypes do |t|
            .col-md-3
              = t.text_field :name, placeholder: "New Tag"
            .col-md-3
              = t.text_field :name, placeholder: "New Tag"
            .col-md-3
              = t.text_field :name, placeholder: "New Tag"

      .row.text-center.proto-btn
        = f.submit "PUBLISH", id: "button", class: "btn btn-lg btn-primary btn-block"
