!!!
%html
  %head
    %meta{content: "text/html; charset=US-ASCII", "http-equiv" =>  "Content-Type"}/
    %title Protospace
    %script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' =>  true
    = javascript_include_tag 'application', 'data-turbolinks-track' =>  true
    = csrf_meta_tags
    %script src="prototype_like.js"
  %body
    = render "shared/header"
    = render "shared/messages"
    = yield
    = render "shared/footer"
